@CHARSET "ISO-8859-1";



@media (max-width: 767px){
.table-responsive
{
	overflow-x:hidden !important;
}



}

#smTableDataView nav
{
	color:#444;
	margin-bottom: 10px;
	background: linear-gradient(#eeeeee, #cccccc);
	background: -webkit-linear-gradient(#EEE,#CCC);
	background: -o-linear-gradient(#EEE,#CCC);
	background: -moz-linear-gradient(#EEE,#CCC);
	
}

#smTableDataView #tableview-total-rows
{
	float:right;
	font-weight:bold;
	font-size:14px;
	color:#444 !important;
}

#smTableDataView nav .navbar-nav>li>a
{
	padding:15px 10px;
}

#smTableDataView nav ul.navbar-nav
{
	margin:0px;
}

#smTableDataView nav ul.navbar-nav>li
{
	display:inline-block;
}

#smTableDataView nav .navbar-form
{
	padding-left:10px;
	padding-right:10px;
}

#smTableDataView #TableDataViewFilters
{
	margin-top:2px;
}

#tbwProgressModal .modal-title
{
	color:#777;
}




table.sm_TableDataView
{
	table-layout:fixed;
	word-break: break-word;
}

table.sm_TableDataView {margin:0px;}
table.sm_TableDataView col.wide {width:5%;}


table.sm_TableDataView .tbw-selector
{
	text-align:center;
	width:5%;
}


table.sm_TableDataView td.cmd div{
	display: inline-block;
	vertical-align: middle;
}


table.sm_TableDataView td
{
	text-overflow: ellipsis;
	overflow: hidden;
	word-wrap: break-word;
}

table.sm_TableDataView th
{
	text-overflow: ellipsis;
	overflow: hidden;
	word-wrap: break-word;
}

#smTableDataView select.input-sm
{
	line-height: 24px;
}

#smTableDataView input[type=search].input-sm {
	width: 200px;
}

#smTableDataView input[type=date].input-sm {
	width: 200px;
}

#smTableDataView input[type=datetime-local].input-sm {
	width: 200px;
} 

#smTableDataView  .button.action_form_cmd
{
	/*margin-left:5px;
	margin-bottom: 5px;*/
	width: 38px;
	height: 30px;
	margin:1px 1px;
}

#smTableDataView form.action_form .action_form_cmd
{
  margin-left: -2px !important;
}

#smTableDataView  .button.action_form_cmd img
{
	width:16px;
	height:16px;
}

.panel #smTableDataView div.table-responsive
{
	margin-bottom:0px;
} 

#smTableDataViewOverlay {
 
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=80);
  z-index: 1111;
  width: 256px;
  height: 256px;
  border-radius: 15px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
   
}
#smTableDataViewOverlay #loading {
   
  color: white;
  text-align: center;
  margin-top: 40%;
  font-size: large;
  font-weight: bold;
}

.smTableDataViewWaitIcon
{
	width:32px;
	height:32px;
	background-image:url(../../img/wait.gif);
}